@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");

:root {
  --primary: #28b5b5;
  --primary-light: #24e9e9;
  --primary-dark: #148c8c;
  --secondary: #7e06aa;
  --danger: #ff0e0e;
  --warning: #ffcc00;
  --grey: #222222;
  --muted: #717171;
  --body-color: #f7f7f7;
  --global-padding: 100px;
  --modal-padding: 20px;
  --sm-radius: 10px;
  --svg-white: invert(100%) sepia(7%) saturate(26%) hue-rotate(200deg)
    brightness(105%) contrast(107%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: var(--body-color);
  font-family: "Fredoka", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.icon-sm {
  width: 18px;
  height: 18px;
}

dialog {
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.modal {
  margin: auto;
  width: 40vw;
  border-radius: var(--sm-radius);
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-header {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  background-color: var(--primary);
  padding: var(--modal-padding);
  color: #fff;
}

.modal-body {
  padding: var(--modal-padding);
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding: var(--modal-padding);
  background-color: var(--body-color);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.3);
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  filter: var(--svg-white);
}

nav.navbar {
  z-index: 5;
  top: 0;
  position: sticky;
  background-color: #fff;
  padding: 10px var(--global-padding);
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.1);
}

nav.navbar > .head {
  margin-bottom: 25px;
}

nav.navbar > .head,
nav.navbar > .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.navbar > .foot {
  margin-bottom: 10px;
}

.nav-item {
  font-size: 1.2rem;
  color: var(--grey);
  position: relative;
  transition: color 0.3s;
}

.nav-item a:hover {
  color: var(--primary-dark);
}

.nav-item a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.3s ease;
  bottom: -20px;
}
.nav-item a:hover::after {
  width: 100%;
  height: 1px;
  background-color: var(--primary);
}

.nav-item.active,
.mobile-nav-item.active {
  background-color: var(--primary-dark);
  border-radius: var(--sm-radius);
  width: fit-content;
}
.nav-item.active a,
.mobile-nav-item.active a {
  color: #fff;
  padding: 10px;
}

.logo-icon {
  width: 120px;
  object-fit: contain;
}

.nav-user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  background: var(--primary);
  border-radius: 30px;
  padding-right: 12px;
  color: #fff;
  transition: background 0.2s;
}

.nav-user-info:hover {
  background: var(--primary-dark);
}

.nav-user-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 3px;
}

.nav-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  padding: 5px 18px;
  border-radius: var(--sm-radius);
}

.btn-lg {
  padding: 8px 22px;
  border-radius: var(--sm-radius);
  font-size: 1rem;
}

.btn-primary {
  background-color: var(--primary);
  color: #fff;
}
.btn-secondary {
  background-color: var(--secondary);
  color: #fff;
}
.btn-grey {
  background-color: var(--grey);
  color: #fff;
}
.btn-muted {
  background-color: var(--muted);
  color: #fff;
}
.btn-danger {
  background-color: var(--danger);
  color: #fff;
}
.btn-warning {
  background-color: var(--warning);
  color: #fff;
}

.btn-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.btn-circle-secondary {
  background-color: var(--secondary);
  outline: var(--secondary);
}

.btn-circle img {
  filter: var(--svg-white);
}

.nav-menu {
  display: none;
}

.burger {
  width: 30px;
  height: 26px;
  margin: 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  z-index: 5;
}
.burger span {
  background-color: var(--primary-dark);
  position: absolute;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 4px;
  transition-duration: 500ms;
}
.burger span:nth-child(1) {
  top: 0px;
  left: 0px;
}
.burger span:nth-child(2) {
  top: 11px;
  left: 0px;
  opacity: 1;
}
.burger span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}
.burger:not(.open):hover span:nth-child(1) {
  transform: rotate(-3deg) scaleY(1.1);
}
.burger:not(.open):hover span:nth-child(2) {
  transform: rotate(3deg) scaleY(1.1);
}
.burger:not(.open):hover span:nth-child(3) {
  transform: rotate(-4deg) scaleY(1.1);
}
.burger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 11px;
}
.burger.open span:nth-child(2) {
  opacity: 0;
}
.burger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 11px;
}

.mobile-navbar {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  z-index: 4;
  inset: 0;
  height: 100vh;
  background-color: #fff;
  transform: translateY(-100vh);
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mobile-navbar.open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

.mobile-nav-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 20px;
  flex-direction: column;
}

.mobile-nav-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-search-form {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: var(--primary);
  color: #fff;
  padding: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.nav-search-form > div {
  position: relative;
  padding-right: 25px;
  padding-left: 25px;
  cursor: pointer;
  text-align: center;
}

.nav-search-form > div:first-child::after {
  position: absolute;
  content: "";
  border-right: 1.5px solid var(--primary-dark);
  height: 20px;
  right: 0;
  top: 0;
  bottom: 0;
}

.mobile-nav-search-form {
  margin: auto;
  display: none;
  margin-top: 10px;
  width: fit-content;
}

.search-day,
.search-site {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: var(--sm-radius);
  border: 2px solid var(--primary-dark);
  margin: auto;
  height: 45px;
  width: 100%;
}

.search-day:focus,
.search-site:focus {
  outline: none;
  border: 2px solid var(--primary-dark);
}

.search-site {
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
  background-position: 100%;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 992px) {
  :root {
    --global-padding: 50px;
  }

  nav.navbar > .foot {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
  }
}

@media screen and (max-width: 690px) {
  :root {
    --global-padding: 25px;
  }

  nav.navbar > .head {
    margin-bottom: 0;
  }

  nav.navbar > .foot {
    display: none;
  }

  .nav-info {
    display: none;
  }

  .nav-menu {
    display: flex;
    align-items: center;
  }

  .nav-search-bar {
    display: none;
  }

  .mobile-nav-search-form {
    display: flex;
  }

  .modal {
    width: 80vw;
  }

  .modal-footer {
    justify-content: center;
  }
}
